/* данный стиль применяется для всех элементов на странице, добавляет красные рамки */
* {
  border: 1px solid red;
}

/* Это стиль type. Он применяется по тэгам - h1, p, a и так далее.  */
p {
  color: green;
}

h1 {
  color: maroon;
}

/* Этот стиль применяется к элементам, в тегах которых указан класс. Например: <h1 class="title"> */
.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

/* Этот стиль только для ID. Например: <p id="article-title"> */
#article-title {
  font-family: cursive;
}

/* Данные 3 стиля  применяются к атрибуту значение которого содержит данное слово*/
a[href*="florence"] {
  color: lightgreen;
}

a[href*="beijing"] {
  color: lightblue;
}

a[href*="seoul"] {
  color: lightpink;
}

/* Тут мы указываем тэг и после двоеточия указываем действие, при котором применяется данный стиль. Тут при наведении мыши на элемент */
a:hover {
  color: darkorange;
}

.heading-background {
  background-color: aqua;
}

#publish-time {
  color: lightgray;
}

/* Тут эксперимент, какой из стилей применится. По умолчанию наибольшим приоритетом обладает стиль ID, затем class и потом уже type (по тэгу)*/
/* То есть тут к элементу, который солержит все три селектора, применится стиль, указанный в #author-id, а в остальных h5 заголовках стиль type (желтый) */
h5 {
  color: yellow;
}

.author-class {
  color: pink;
}

#author-id {
  color: cornflowerblue;
}

/* Это цепочка атрибутов, то есть стиль применяется только к h2 у которых есть класс destination */
h2.destination {
  font-family: Tahoma;
}

/* Тут стиль применяется к потомкам. Например в div, который имеет класс description, заключен тег h5. И чтобы применить стиль к этому потомку, надо указать сначала родительский класс, а затем потомка. Или во втором примере h5 заключен в тег li списка */
.description h5 {
  color: blueviolet;
}

li h4 {
  color: gold;
}

/* А тут чтобы отдельно не применять один и тот же стиль к разным селекторам, мы просто перечисляем селекторы через запятую */
li,
h5 {
  font-family: monospace;
}
